._self-injection-zhihu_btn {
  position: relative;
  
}

._self-injection-zhihu_btn  > .dark-btn_wrapper {
  position: absolute;
  right: 18px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #fff;
  z-index: 99;
}